// Multiselect
.multiselect {
    height: 3rem;
    font-size: 0.9rem;

    .multiselect__control {
        height: 3rem;
        border: none;
        border-radius: 2px;
        background-color: $tertiary-grey-transparent;

        &.multiselect__control--is-focused {
            border: none;
            box-shadow: none;
        }

        .multiselect__value-container {
            .multiselect__input-container {
                color: $white;
            }
        }

        .multiselect__placeholder {
            color: $primary-grey;
        }

        .multiselect__single-value {
            color: $white;
        }

        .multiselect__indicator {
            color: $primary-grey;

            &.multiselect__clear-indicator {
                color: $red;
            }

            &.multiselect__dropdown-indicator {
                display: none;
            }
        }

        .multiselect__indicator-separator {
            display: none;
        }
    }

    .multiselect__menu {
        background-color: $tertiary-grey;
        font-size: 0.9rem;

        .multiselect__menu-list {
            padding: 0.4rem;

            .multiselect__option {
                border-radius: 3px;
                margin: 0.3rem 0;
                color: #dee2e6;

                &--is-selected {
                    background-color: $primary-green;
                }

                &--is-focused {
                    background-color: #ffffff26;
                }
            }
        }
    }
}

