// ==========================
//       Desktop Styles
// ==========================
html {
    body {
        background: url("/background.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: $primary-font;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        margin: 0;
        overflow-y: scroll;
        color: $white;

        &.modal-open {
            overflow: inherit !important;
            padding-right: 0 !important;
        }
    }

    #root {
        background-color: #2b2b2bd3;
        min-height: 100vh;
        height: 100%;
    }

    a {
        color: $secondary-green;
    }
}