**/node_modules
**/npm-debug.log
build


node_modules

# ignore all .env and .*ignore files
.env*
.*ignore

# ignore .git and .cache folders
.git
.cache

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md