.p-panel {
    &.panel-brighter-bg {
        .p-panel-content {
            background: $panelBrighterContentBg;
        }
    }

    .p-panel-header {
        display: flex;
        align-items: center;
        justify-content: center;
        border: $panelHeaderBorder;
        padding: $panelHeaderPadding;
        background: $panelHeaderBg;
        color: $panelHeaderTextColor;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        min-height: $panelHeaderMinHeight;

        .p-panel-title {
            font-weight: $panelHeaderFontWeight;
            font-size: $panelHeaderFontSize;
        }

        .p-panel-header-icon {
            @include action-icon();
        }
    }

    &.p-panel-toggleable {
        .p-panel-header {
            padding: $panelToggleableHeaderPadding;
        }
    }

    .p-panel-content {
        padding: $panelContentPadding;
        border: $panelContentBorder;
        background: $panelContentBg;
        color: $panelContentTextColor;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top: 0 none;
    }

    .p-panel-footer {
        padding: $panelFooterPadding;
        border: $panelFooterBorder;
        background: $panelFooterBg;
        color: $panelFooterTextColor;
        border-top: 0 none;
    }
}
