:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #383838;
    --toastify-color-info: #418cad;
    --toastify-color-success: #528b6e;
    --toastify-color-warning: #ffc107;
    --toastify-color-error: #d95652;
    --toastify-color-transparent: #38383886;
}