// Font Weight
.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

// Font Size
.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.fs-9 {
    font-size: 0.7rem;
}

// Colors
.fc-transparent {
    color: transparent;
}

// Styles
.font-italic {
    font-style: italic !important;
}

// Alignment
.text-right {
    text-align: right;
}