// Card List
.card-list {
    .card-list-card {
        text-decoration: none;

        .card-body {
            .card-text {
                justify-content: center;
                display: flex;
                font-size: 0.9rem;
            }
        }
    }
}

// Selectable Card
.selectable-card {
    cursor: pointer;
    border: 2px solid $shade900;
    min-width: 12rem;
    min-height: 10.5rem;

    &.stats {
        border: 2px solid transparent;
    }

    &.selected {
        border: 2px solid $blue;
    }

    &.disabled {
        cursor: not-allowed;
        border: 0;
    }

    i {
        position: absolute;
        bottom: 0.2rem;
        right: 0.2rem;

        &.selected {
            color: $blue;
        }
    }
}

.editable-card-list {
    .editable-card {
        border: 0;
    }
}