// Fileuploader
.file-upload {
    .delete-file {
        cursor: pointer;
        position: relative;
        top: -2.4rem;
        right: -3.4rem;
    }

    .drop-zone {
        cursor: pointer;
    
        &.is-dragging, &:hover {
            background-color: $shade800;
        }
    }
}