// Input Group
.input-group {

    .input-group-text {
        background-color: $shade701;
        border: none;
        color: $shade200;
        font-weight: 200;
    }
}

// Input
input.form-control {
    color: $white !important;
    background-color: $shade801;
    border: 1px solid $shade801;
    border-radius: 2px;

    &:focus {
        color: $white;
        background-color: $shade800;
        border: 1px solid $shade800;
        box-shadow: none;
    }
}

input::placeholder {
    color: $shade600 !important;
}