// Multiselect react-bootstrap-typeahead
.rbt {
    .rbt-input {
        background-color: $shade900;
        border-color: $shade801;
        height: 60px;
        display: flex;
        align-items: center;

        &.focus {
            background-color: $shade901;
        }

        .rbt-input-wrapper {
            display: flex;
            align-items: center;

            .rbt-token {
                display: flex;
                align-items: center;
                color: $white;
                background-color: $green;
                border-radius: 20px;
                padding: 8px;
                margin-right: 5px;

                .rbt-token-remove-button.btn-close {
                    color: $white !important;
                    background-color: $white;
                    border: 1px solid $white;
                    padding: 3px;
                    margin-left: 8px;
                    font-size: 0.7rem;
                    border-radius: 16px;

                    .rbt-close-content {
                        display: none;
                    }
                }
            }

            .rbt-input-main {
                color: $white;
            }

            .rbt-input-hint {
                color: rgba(255, 255, 255, 0.5) !important;
            }
        }
    }

    .rbt-menu {
        background-color: $shade900;

        .dropdown-item {
            color: $white;
            font-size: 0.9rem;
            font-weight: 600;

            &:hover {
                background-color: $green;
            }

            .dropdown-item-img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
            }
        }
    }
}

// Multiselect
// .multiselect {
//     height: 3rem;
//     font-size: 0.9rem;

//     .multiselect__control {
//         height: 3rem;
//         border: none;
//         border-radius: 2px;
//         background-color: $shade800;

//         &.multiselect__control--is-focused {
//             border: none;
//             box-shadow: none;
//         }

//         .multiselect__value-container {
//             .multiselect__input-container {
//                 color: $white;
//             }
//         }

//         .multiselect__placeholder {
//             color: $shade700;
//         }

//         .multiselect__single-value {
//             color: $white;
//         }

//         .multiselect__indicator {
//             color: $shade700;

//             &.multiselect__clear-indicator {
//                 color: $red;
//             }

//             &.multiselect__dropdown-indicator {
//                 display: none;
//             }
//         }

//         .multiselect__indicator-separator {
//             display: none;
//         }
//     }

//     .multiselect__menu {
//         background-color: $shade800;
//         font-size: 0.9rem;

//         .multiselect__menu-list {
//             padding: 0.4rem;

//             .multiselect__option {
//                 border-radius: 3px;
//                 margin: 0.3rem 0;
//                 color: $shade400;

//                 &--is-selected {
//                     background-color: $green;
//                 }

//                 &--is-focused {
//                     background-color: $shade800;
//                 }
//             }
//         }
//     }
// }