// Nav Tabs
.nav-tabs {
    border-bottom: 1px solid $shade700;

    .nav-item {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: $shade900;

        .nav-link {
            color: $white;
            font-size: 0.8rem;
            font-weight: 600;
        
            &:hover {
                border: 1px solid $shade700;
            }
    
            &.active {
                background-color: $green;
                color: $white;
                border: 1px solid $green;
            }
        }
    }
}