// Sidebar
.sidebar .ps-sidebar-root {
    height: 100%;
    border: none;

    .ps-menuitem-root {
        .ps-menu-button {
            &:hover {
                background-color: $shade701;
            }

            .ps-submenu-expand-icon {
                color: $shade700;
            }
        }

        .ps-submenu-content {
            .ps-menuitem-root {
                .ps-menu-button {
                    &:hover {
                        background-color: $shade701;
                    }
                }
            }
        }
    }

    .ps-submenu-content {
        background-color: $shade800;
    }
}