// Sidebar
.sidebar .ps-sidebar-root {
    height: 100%;
    border: none;

    .sidebar-container {
        background: $sidebarContainerBg;
        color: $sidebarTextColor;
        font-family: $fontFamily;
        
        .menu-subtitle {
            color: $sidebarMenuSubtitleColor;
        }

        .menu-divider {
            color: $sidebarMenuDividerColor;
        }

        .ps-menuitem-root {

            .ps-menu-button {
                &:hover {
                    background-color: $sidebarMenuitemHoverBg;
                }

                .ps-submenu-expand-icon {
                    color: $sidebarExpandIconColor;
                }
            }

            .ps-submenu-content {
                .ps-menuitem-root {
                    .ps-menu-button {
                        &:hover {
                            background-color: $sidebarSubmenuitemHoverBg;
                        }
                    }
                }
            }
        }

        .ps-submenu-content {
            background-color: $sidebarSubmenuContentBg;
        }
    }
}