$black: #000000;
$white: #fff;
$light-green: #6eb691;
$dark-green: #528b6e;
$light-red: #e66d68;
$red: #d95652;
$blue: #41bef4;
$beige: #fde1d0;
$gold: #d4c783;
$yellow: #ebeb05;
$primary-grey: #565656;
$primary-grey-transparent: #5656567c;
$secondary-grey: #222121;
$secondary-grey-transparent: #222121f8;
$tertiary-grey: #383636;
$tertiary-grey-transparent: #38363673;