// Switch Input
.form-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.6rem !important;
    padding: 0;

    .form-check-input {
        background-color: $gray-700;
        border-color: $gray-700;
        box-shadow: none;
        height: 1.6rem;
        width: 3.3rem;
        margin: 0;

        &:checked {
            background-color: $gray-700;
            border-color: $green;
        }
    }

    .form-check-label {
        font-size: 0.8rem;
        font-weight: 600;
        padding-left: 0.3rem;
    }
}