// Input Group
.input-group {

    .input-group-text {
        background-color: $gray-701;
        border: none;
        color: $gray-200;
        font-weight: 200;
    }
}

// Input
input.form-control {
    color: $white !important;
    background-color: $gray-801;
    border: 1px solid $gray-801;
    border-radius: 2px;

    &:focus {
        color: $white;
        background-color: $gray-800;
        border: 1px solid $gray-800;
        box-shadow: none;
    }
}

input::placeholder {
    color: $gray-600 !important;
}