// Sidebar
.sidebar .ps-sidebar-root {
    height: 100%;
    border: none;

    .ps-menuitem-root {
        .ps-menu-button {
            &:hover {
                background-color: $primary-grey-transparent;
            }
        }

        .ps-submenu-content {
            .ps-menuitem-root {
                .ps-menu-button {
                    &:hover {
                        background-color: $primary-grey-transparent;
                    }
                }
            }
        }
    }

    .ps-submenu-content {
        background-color: $tertiary-grey;
    }
}