// ==========================
//       Desktop Styles
// ==========================
.content-container {

  .options-container {
    width: 100%;
  
    .in-out-mode-container {
      display: flex;
      flex-direction: row;
      gap: 5px;
      margin-top: 16px;
    
      .inputs-radio-container * {
        font-size: 0.6rem;
        font-weight: 500;
      }
    }
  }
}
  
.label-radio-clickable {
  background-color: $primary-grey;
  border: none;
  color: $white;
}
  
.label-radio-btn-selected {
  background-color: $dark-green;
}
  
.start-game-button {
  margin: 10px;
}
  
.start-game-button:hover {
  background-color: $light-green;
}
  
/* Radio button */
  
.inputs-radio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 16px;
  padding: 6px 0;
  border: solid 1px $primary-grey;
  border-radius: 5px;

  label {
    min-width: 60px;
  }

  input {
    width: 60px;
  }

  * {
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 16px;
    margin: 0 6px;
    padding: 4px 6px;
    cursor: pointer;
  }
}
  
/* set leg nbr choice */
.number-of-players {
  margin: 40px 0;
}

.sets-legs-container {
  width: 100%;
}
  
.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px auto;
  width: 75%;
  gap: 15px;

  .element-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .sets-legs-settings-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 8px;
      width: 50%;

      .settings-elements {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        width: 90%;

        span {
          font-size: 0.9rem;
        }
      }
    }
  }
}

/* select player */

.select-player-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50%;
}
  
.select-player-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.add-player-container {
  align-items: center;
  justify-content: start;
}
  
/* New player */
  
.add-new-player-container {
  width: 80%;
  margin: auto;
  margin-bottom: 12px;
  padding: 10px 0;
  border: solid 2px $white;
}

.create-player-msg {
  padding-top: 8px;
  font-size: 0.9rem;
  font-weight: 500;
}
  
/* error */
  
.error-container {
  font-weight: 900;
  width: 80%;
  padding: 8px;
  margin: auto;
  margin-bottom: 12px;
  background-color: $red;
}
  
.error-container * {
  color: $white;
}


// ==========================
//       Mobile Styles
// ==========================
@media only screen and (max-width: 600px) {
  .content-container {
    .options-container {
      width: 100%;
      
      .in-out-mode-container {
        display: flex;
        flex-direction: column;
      }
  
      .sets-legs-container {
        .item-container {
          margin: 0 auto;
  
          .element-container {
            .sets-legs-settings-container {
              width: auto;
            }
          }
        }
      }
    }

    .select-player-container {
      width: 60%;
    }
  }
}